#lv-container {
       border-radius: 20px;
	   padding:30px 60px 30px 60px;
       background:rgba(255, 255, 255, 0.3) none repeat scroll !important;
}
.content {
            border-radius: 20px;
            padding: 30px 30px 30px 30px;
            background:rgba(255, 255, 255, 0.3) none repeat scroll !important;
         }
#main > div > div.content-wrap{
	 background:rgba(239, 231, 231, 0.3) none repeat scroll !important
}
